[Unit]
Description=compile kernel modules
Requires=network-online.target update-engine.service
After=network-online.target update-engine.service

[Service]
EnvironmentFile=/usr/share/coreos/release
EnvironmentFile=/usr/share/coreos/update.conf
EnvironmentFile=/etc/coreos/update.conf
Type=oneshot
RemainAfterExit=yes
ExecStart=-/opt/bin/modulus -g ${GROUP} -r ${COREOS_RELEASE_VERSION} download %i
ExecStart=-/opt/bin/modulus -g ${GROUP} -r ${COREOS_RELEASE_VERSION} install %i
ExecStart=/opt/bin/modulus -u -g ${GROUP} -b ${COREOS_RELEASE_BOARD} -r ${COREOS_RELEASE_VERSION} compile %i
ExecStart=/opt/bin/modulus install %i
ExecStop=-/opt/bin/modulus -c -g ${GROUP} -r ${COREOS_RELEASE_VERSION} download %i
ExecStop=-/opt/bin/modulus -c -g ${GROUP} -r ${COREOS_RELEASE_VERSION} install %i
ExecStop=/opt/bin/modulus -cu -g ${GROUP} -b ${COREOS_RELEASE_BOARD} -r ${COREOS_RELEASE_VERSION} compile %i
ExecStop=/opt/bin/modulus install %i
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
